
.icon-user:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-videocam:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-cog:before { content: '\e807'; } /* '' */
.icon-cog-alt:before { content: '\e808'; } /* '' */
.icon-wrench:before { content: '\e809'; } /* '' */
.icon-down-open:before { content: '\e80a'; } /* '' */
.icon-left-open:before { content: '\e80b'; } /* '' */
.icon-right-open:before { content: '\e80c'; } /* '' */
.icon-up-open:before { content: '\e80d'; } /* '' */
.icon-down-dir:before { content: '\e80e'; } /* '' */
.icon-up-dir:before { content: '\e80f'; } /* '' */
.icon-left-dir:before { content: '\e810'; } /* '' */
.icon-right-dir:before { content: '\e811'; } /* '' */
.icon-left-big:before { content: '\e812'; } /* '' */
.icon-right-big:before { content: '\e813'; } /* '' */
.icon-up-big:before { content: '\e814'; } /* '' */
.icon-down-big:before { content: '\e815'; } /* '' */
.icon-user-1:before { content: '\e816'; } /* '' */
.icon-check:before { content: '\e817'; } /* '' */
.icon-star:before { content: '\e818'; } /* '' */
.icon-star-empty:before { content: '\e819'; } /* '' */
.icon-home-1:before { content: '\e81a'; } /* '' */
.icon-left-open-big:before { content: '\e81b'; } /* '' */
.icon-right-open-big:before { content: '\e81c'; } /* '' */
.icon-up-open-big:before { content: '\e81d'; } /* '' */
.icon-down-open-big:before { content: '\e81e'; } /* '' */
.icon-up-open-mini:before { content: '\e81f'; } /* '' */
.icon-down-open-mini:before { content: '\e820'; } /* '' */
.icon-up-open-1:before { content: '\e821'; } /* '' */
.icon-home-outline:before { content: '\e822'; } /* '' */
.icon-home-2:before { content: '\e823'; } /* '' */
.icon-videocam-1:before { content: '\e824'; } /* '' */
.icon-videocam-outline:before { content: '\e825'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */